*.pyc
*.python-version
\.idea/
venv/
venvpy3.8/
data/
dist/
examples/language_translation/dataset
examples/language_translation/data
examples/gan
pretrained/
image_samples/
examples/htr_self_training/synthetic_data/
examples/htr_self_training/iam/
examples/htr_self_training/fonts
debug_pipeline.py
examples/htr_self_training/words.txt